<div class="main-container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>ID</div>
        <div>{{ userData.paygrade?.id }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Name</div>
        <div>{{ userData.paygrade?.paygradeName }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Min Pay</div>
        <div>{{ userData.paygrade?.minPay }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Max Pay</div>
        <div>{{ userData.paygrade?.maxPay }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>HRA</div>
        <div>{{ userData.paygrade?.hra }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>PF</div>
        <div>{{ userData.paygrade?.pfs }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>DA</div>
        <div>{{ userData.paygrade?.pfs }}</div>
      </div>
    </div>
  </div>
</div>
