<div class="main-container">
  <div class="title-txt">Request for Information Update</div>
  <div class="alert alert-warning mt-2 width" [hidden]="toggleAlert">
    You already have a request pending for approval.
  </div>
  <div class="card">
    <form
      #f="ngForm"
      (ngSubmit)="SaveFileData()"
      (input)="handleEditChange($event)"
    >
      <div class="row">
        <div class="col-md-5">
          <div class="error-msg" [hidden]="editToggleError">
            {{ editErrorMsg }}
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name </label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              value="{{ userData.firstName }}"
              maxlength="25"
              #firstName="ngModel"
              ngModel
            />
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name </label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              value="{{ userData.lastName }}"
              maxlength="25"
              #lastName="ngModel"
              pattern="^[a-zA-Z\s]+$"
              minlength="4"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="phoneNo" class="form-label">Phone No</label>
            <input
              type="number"
              class="form-control"
              id="phoneNo"
              name="mobileNo"
              value="{{ userData.mobileNo }}"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth </label>
            <input
              type="date"
              class="form-control"
              id="dob"
              name="dob"
              required
              value="{{ userData.dob }}"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="personalEmail" class="form-label"
              >Personal Email
            </label>
            <input
              type="email"
              class="form-control"
              id="personalEmail"
              name="personalEmail"
              value="{{ userData.personalEmail }}"
              ngModel
              maxlength="35"
            />
          </div>
        </div>

        <div class="col-md-5">
          <div class="mb-3 mt-3">
            <label for="gender" class="form-label">Gender </label>
            <div class="radio-options row">
              <div class="col-2">
                <input
                  type="radio"
                  id="male"
                  name="gender"
                  class="radio-option"
                  value="MALE"
                  [checked]="userData.gender === 'MALE'"
                  ngModel
                />
                <label for="male">Male</label>
              </div>
              <div class="col-2">
                <input
                  type="radio"
                  id="female"
                  name="gender"
                  value="FEMALE"
                  [checked]="userData.gender === 'FEMALE'"
                  ngModel
                />
                <label for="female">Female</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="street" class="form-label">Street</label>
            <input
              type="text"
              class="form-control"
              id="street"
              name="street"
              #street="ngModel"
              value="{{ userData.street }}"
              ngModel
              maxlength="60"
            />
            <div class="error-msg" *ngIf="street.dirty && street.invalid">
              Street Invalid
            </div>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input
              type="text"
              class="form-control"
              id="city"
              name="city"
              value="{{ userData.city }}"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="pincode " class="form-label">Pincode</label>
            <input
              type="number"
              class="form-control"
              id="pincode"
              name="pincode"
              value="{{ userData.pincode }}"
              ngModel
            />
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <select
              class="form-select"
              id="state"
              name="state"
              value="{{ userData.state }}"
              ngModel
            >
              <option value="Andaman and Nicobar Islands">
                Andaman and Nicobar Islands
              </option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Dadra and Nagar Haveli">
                Dadra and Nagar Haveli
              </option>
              <option value="Daman and Diu">Daman and Diu</option>
              <option value="Delhi">Delhi</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Ladakh">Ladakh</option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Profile Photo</label>
            <input
              class="form-control"
              name="profile-img"
              type="file"
              id="profile-img"
              ngModel
              (change)="onFileSelected($event)"
            />
            <div *ngIf="fileSizeError" class="text-danger">
              File size exceeds the limit (1 MB).
            </div>
          </div>
        </div>
      </div>

      <button
        class="btn btn-success"
        [disabled]="
          editBtnDisabled ||
          updateBtnDisabled ||
          (firstName.dirty && firstName.invalid) ||
          (lastName.dirty && lastName.invalid) ||
          (street.dirty && street.invalid) ||
          !f.dirty || fileSizeError
        "
      >
        Request Update
      </button>
    </form>
  </div>
</div>
