.main-container {
  padding: 1rem;
}
.item {
  padding: 1rem;
  border: 1px solid lightgray;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.circle {
  color: #9B3855;
  height:0.7rem;
  width:0.7rem;
  border:2.5px solid #9B3855;
  border-radius: 50%;
  /* background-color: #9B3855; */

}
