<div class="main-container">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>ID</div>
        <div>{{ userData.project?.projectId }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Title</div>
        <div>{{ userData.project?.projectTitle }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Status</div>
        <div>{{ userData.project?.projectStatus }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Description</div>
        <div>{{ userData.project?.projectDesc }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>Start Date</div>
        <div>{{ userData.project?.start_date }}</div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="item">
        <i class="circle"></i>

        <div>End Date</div>
        <div>{{ userData.project?.end_date }}</div>
      </div>
    </div>
  </div>
</div>
