<div class="sidebar" column-4>
  <div
    class="item"
    routerLink="profile/personalinfo"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{
      exact: true
    }"
  >
    <div class="content">
      <i class="bi bi-person-square"></i>
      <span>Your Profile</span>
    </div>
  </div>
  <div class="item" routerLink="edit" routerLinkActive="active">
    <div class="content">
      <i class="bi bi-person-square"></i>
      <span>Request Update</span>
    </div>
  </div>
  <div class="item logout" (click)="logout()">
    <div class="content">
      <i class="bi bi-box-arrow-right"></i>
      <span>Logout</span>
    </div>
  </div>
</div>
